# API Reference: ValidationResults.js

**Language**: JavaScript

**Source**: `src/application/ValidationResults.js`

---

## Classes

### ValidationResults

**Inherits from**: (none)

#### Methods

##### constructor(validationResults)

**Parameters**:

| Name | Type | Default | Description |
|------|------|---------|-------------|
| validationResults | None | - | - |


##### flatten([validationResults])

**Parameters**:

| Name | Type | Default | Description |
|------|------|---------|-------------|
| [validationResults] | None | - | - |



